BOOT_IMAGE_LIST = ipl ipl_cust mxp uboot
IMAGE_LIST = boot logo
OTA_IMAGE_LIST = boot kernel logo miservice customer

FLASH_TYPE = nor
BENCH = no
PHY_TEST = no

TFTPDOWNLOADADDR:=0x21000000
KERNELBOOTADDR:=0x22000000
INITRAMFSLOADADDR:=0x23000000

USR_MOUNT_BLOCKS:=miservice customer
ENV_CFG = /dev/mtd0 0x6E000 0x1000 0x1000 1
ENV_CFG1 = /dev/mtd0 0x6F000 0x1000 0x1000 1

LINUX_IMAGE_LIST = kernel rootfs miservice customer
LINUX_FLASH_TYPE = emmc
SYSTEM = signal

#file size bigger than this need to split
SPLIT_EACH_FILE_SIZE:= 20971520

bootlogocmd = bootlogo 0 0 0 0\;

ipl$(RESOUCE) = $(PROJ_ROOT)/board/$(CHIP)/boot/ipl/IPL.bin
ipl$(PATSIZE) = 0x10000

ipl_cust$(RESOUCE) = $(PROJ_ROOT)/board/$(CHIP)/boot/ipl/IPL_CUST.bin
ipl_cust$(PATSIZE) = 0x10000

mxp$(RESOUCE) = $(IMAGEDIR)/boot/MXP_SF.bin
mxp$(PATSIZE) = 0x10000
mxp$(BOOTTAB) = "$(ipl$(PATSIZE))(IPL),$(ipl_cust$(PATSIZE))(IPL_CUST),$(mxp$(PATSIZE))(MXPT),$(uboot$(PATSIZE))(UBOOT),0x2000(UBOOT_ENV)"
mxp$(SYSTAB)  = "$(kernel$(PATSIZE))(KERNEL),$(key_cust$(PATSIZE))(KEY_CUST),$(logo$(PATSIZE))(LOGO),$(rootfs$(PATSIZE))(rootfs),$(miservice$(PATSIZE))(miservice),$(customer$(PATSIZE))(customer),$(appconfigs$(PATSIZE))(appconfigs)"

uboot$(RESOUCE) = $(PROJ_ROOT)/board/$(CHIP)/boot/$(LINUX_FLASH_TYPE)/uboot/u-boot.xz.img.bin
uboot$(PATSIZE) = 0x3E000

boot$(RESOUCE) = $(IMAGEDIR)/boot.bin
boot$(PATSIZE) = $(shell printf 0x%x $(shell stat -c "%s" $(boot$(RESOUCE))))
boot$(OTABLK)  = /dev/mtdblock0

key_cust$(PATSIZE) = 0x10000

logo$(RESOUCE) = $(IMAGEDIR)/logo
logo$(PATSIZE) = 0x20000
logo$(OTABLK)  = /dev/mtdblock3

wifi24mclkcmd = mw 1f001cc0 11
wifirstoffcmd = gpio out 8 0
wifirstoncmd  = gpio out 8 1

kernel$(RESOUCE)   = $(PROJ_ROOT)/release/$(PRODUCT)/$(CHIP)/$(BOARD)/$(TOOLCHAIN)/$(TOOLCHAIN_VERSION)/bin/kernel/$(LINUX_FLASH_TYPE)/$(FLASH_TYPE)/uImage.xz

rootfs$(RESOUCE)   = $(OUTPUTDIR)/rootfs
rootfs$(FSTYPE)    = ext4
rootfs$(PATSIZE)   = 0x1400000

miservice$(RESOUCE)   = $(OUTPUTDIR)/miservice/config
miservice$(FSTYPE)    = ext4
miservice$(PATSIZE)   = 0x1400000
miservice$(MOUNTTG)   = /config
miservice$(MOUNTPT)   = /dev/mmcblk0p3
miservice$(OPTIONS)   = ro

customer$(RESOUCE)   = $(OUTPUTDIR)/customer
customer$(FSTYPE)    = ext4
customer$(PATSIZE)   = 0x1600000
customer$(MOUNTTG)   = /customer
customer$(MOUNTPT)   = /dev/mmcblk0p4
customer$(OPTIONS)   = ro

#user partition name and size(byte unit)
KERNEL_A_PAT_NAME           := kernela
$(KERNEL_A_PAT_NAME)SIZE    := 0xA00000
KERNEL_A_PAT_BOOTENV        := $(KERNEL_BOOT_ENV)

ROOTFS_A_PAT_NAME           := rootfsa
$(ROOTFS_A_PAT_NAME)SIZE    := 0xC800000
ROOTFS_A_PAT_BOOTENV        := console=ttyS0,115200 root=/dev/mmcblk0p2 rootwait rootfstype=ext4 rw init=/linuxrc

USER_A_PAT_NAME             := usera
$(USER_A_PAT_NAME)SIZE      := 0x12C00000
DATA_PAT_NAME               := data
$(DATA_PAT_NAME)SIZE        := 0x83300000

USER_PART_LIST := $(KERNEL_A_PAT_NAME) $(ROOTFS_A_PAT_NAME) $(USER_A_PAT_NAME) $(DATA_PAT_NAME)

EXT4_RESIZE_PAT_LIST := /dev/mmcblk0p3 /dev/mmcblk0p4
