IMAGE_LIST = cis ipl ipl_cust uboot logo
OTA_IMAGE_LIST = ipl ipl_cust uboot logo kernel miservice customer
FLASH_TYPE = spinand
UBI_MLC_TYPE = 0
#overwrite CIS(BL0,BL1,UBOOT) PBAs
CIS_PBAs = 10 0 0
CIS_COPIES = 5
USR_MOUNT_BLOCKS:=miservice customer
ENV_CFG = /dev/mtd6 0x00000 0x1000 0x20000 2
ENV_CFG1 = /dev/mtd7 0x00000 0x1000 0x20000 2

LINUX_IMAGE_LIST = kernel rootfs miservice customer
LINUX_FLASH_TYPE = emmc
SYSTEM = signal
BENCH = no
PHY_TEST = no

#file size bigger than this need to split
SPLIT_EACH_FILE_SIZE:= 20971520

bootlogocmd = bootlogo 0 0 0 0\;

cis$(RESOUCE) = $(IMAGEDIR)/cis.bin
cis$(DATASIZE)= 0x40000
cis$(PGSIZE)  = 2k
cis$(COPIES)  = $(CIS_COPIES)
cis$(PATSIZE) = 0x140000
cis$(BOOTTAB) = $(ipl$(MTDPART)),$(ipl_cust$(MTDPART)),$(uboot$(MTDPART))
cis$(SYSTAB)  = $(key_cust$(MTDPART)),$(logo$(MTDPART)),-(UBI)

ipl$(RESOUCE) = $(PROJ_ROOT)/board/$(CHIP)/boot/ipl/IPL.bin
ipl$(DATASIZE)= 0x20000
ipl$(COPIES)  = 3
ipl$(BKCOUNT) = 2
ipl$(PATSIZE) = $(call multiplyhex, $(ipl$(COPIES)), $(ipl$(DATASIZE)))
ipl$(PATCOUNT)= 2
ipl$(MTDPART) = $(ipl$(DATASIZE))@$(cis$(PATSIZE))(IPL0)$(ipl$(BKCOUNT)),$(ipl$(DATASIZE))(IPL1)$(ipl$(BKCOUNT))
ipl$(OTABLK)  = /dev/mtd0 /dev/mtd1

ipl_cust$(RESOUCE) = $(PROJ_ROOT)/board/$(CHIP)/boot/ipl/IPL_CUST.bin
ipl_cust$(DATASIZE)= 0x20000
ipl_cust$(COPIES)  = 3
ipl_cust$(BKCOUNT) = 2
ipl_cust$(PATSIZE) = $(call multiplyhex, $(ipl_cust$(COPIES)), $(ipl_cust$(DATASIZE)))
ipl_cust$(PATCOUNT)= 2
ipl_cust$(MTDPART) = $(ipl_cust$(DATASIZE))(IPL_CUST0)$(ipl_cust$(BKCOUNT)),$(ipl_cust$(DATASIZE))(IPL_CUST1)$(ipl_cust$(BKCOUNT))
ipl_cust$(OTABLK)  = /dev/mtd2 /dev/mtd3

uboot$(RESOUCE) = $(PROJ_ROOT)/board/$(CHIP)/boot/$(LINUX_FLASH_TYPE)/uboot/u-boot_$(FLASH_TYPE).xz.img.bin
uboot$(DATASIZE)= 0x40000
uboot$(COPIES)  = 3
uboot$(BKCOUNT) = 4
uboot$(PATSIZE) = $(call multiplyhex, $(uboot$(COPIES)), $(uboot$(DATASIZE)))
uboot$(PATCOUNT)= 2
uboot$(MTDPART) =$(uboot$(DATASIZE))(UBOOT0)$(uboot$(BKCOUNT)),$(uboot$(DATASIZE))(UBOOT1)$(uboot$(BKCOUNT)),0x20000(ENV0)1,0x20000(ENV1)1
uboot$(OTABLK)  = /dev/mtd4 /dev/mtd5

wifi24mclkcmd = mw 1f001cc0 11
wifirstoffcmd = gpio out 8 0
wifirstoncmd = gpio out 8 1

key_cust$(PATSIZE) = 0x20000
key_cust$(MTDPART) = $(key_cust$(PATSIZE))(KEY_CUST)

logo$(RESOUCE) = $(IMAGEDIR)/logo
logo$(PATSIZE) = 0x60000
logo$(MTDPART) = $(logo$(PATSIZE))(LOGO)
logo$(OTABLK)  = /dev/mtd9

kernel$(RESOUCE)   = $(PROJ_ROOT)/release/$(PRODUCT)/$(CHIP)/$(BOARD)/$(TOOLCHAIN)/$(TOOLCHAIN_VERSION)/bin/kernel/$(LINUX_FLASH_TYPE)/$(FLASH_TYPE)/uImage.xz

rootfs$(RESOUCE)   = $(OUTPUTDIR)/rootfs
rootfs$(FSTYPE)    = ext4
rootfs$(PATSIZE)   = 0x1400000

miservice$(RESOUCE)   = $(OUTPUTDIR)/miservice/config
miservice$(FSTYPE)    = ext4
miservice$(PATSIZE)   = 0x1400000
miservice$(MOUNTTG)   = /config
miservice$(MOUNTPT)   = /dev/mmcblk0p3
miservice$(OPTIONS)   = ro

customer$(RESOUCE)   = $(OUTPUTDIR)/customer
customer$(FSTYPE)    = ext4
customer$(PATSIZE)   = 0x1600000
customer$(MOUNTTG)   = /customer
customer$(MOUNTPT)   = /dev/mmcblk0p4
customer$(OPTIONS)   = ro

#user partition name and size(byte unit)
KERNEL_A_PAT_NAME           := kernela
$(KERNEL_A_PAT_NAME)SIZE    := 0xA00000
KERNEL_A_PAT_BOOTENV        := $(KERNEL_BOOT_ENV)

ROOTFS_A_PAT_NAME           := rootfsa
$(ROOTFS_A_PAT_NAME)SIZE    := 0xC800000
ROOTFS_A_PAT_BOOTENV        := console=ttyS0,115200 root=/dev/mmcblk0p2 rootwait rootfstype=ext4 rw init=/linuxrc

USER_A_PAT_NAME             := usera
$(USER_A_PAT_NAME)SIZE      := 0x12C00000
DATA_PAT_NAME               := data
$(DATA_PAT_NAME)SIZE        := 0x83300000

USER_PART_LIST := $(KERNEL_A_PAT_NAME) $(ROOTFS_A_PAT_NAME) $(USER_A_PAT_NAME) $(DATA_PAT_NAME)

EXT4_RESIZE_PAT_LIST := /dev/mmcblk0p3 /dev/mmcblk0p4